* {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

body {
  background-color: #922d50;
  color: #fff9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
}

main {
  background-color: #3c1b43;
  border: #d4e79e solid 4px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-width: 380px;
  padding: 32px 24px;
  margin: 40px 0;
}

.ahgong {
  font-family: "Passion One", serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 0.6;
}

.main-title {
  font-family: "Passion One", serif;
  color: #d4e79e;
  font-weight: 700;
}

.emoji {
  font-size: 1.5rem;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-message {
  margin: 0 0 24px 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.board {
  width: 332px;
  height: 128px;
  background-color: #922d50;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card {
  background-color: #fff9fb;
  border-radius: 4px;
  width: 64px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 4px 4px 4px 2px rgba(80, 21, 55, 0.5);
}

.card:hover {
    transform: rotate(-2deg) scale(1.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 4px 4px 4px 4px rgba(80, 21, 55, 0.3);
}


.card-num {
  font-family: "Passion One", serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #922d50;
}

.data {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 16px 0;
}

.data-title {
  display: flex;
  flex-direction: row;
  font-weight: 500;
}

.data-value {
  font-weight: 300;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  border: 0;
  border-radius: 8px;
  width: 192px;
  height: 40px;
  font-weight: 500;
}

.primary-btn {
  background-color: #d4e79e;
  color: #3c1b43;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.primary-btn:hover {
  background-color: #b8c480;
}

.secondary-btn {
  background-color: transparent;
  border: #d4e79e 2px solid;
  color: #d4e79e;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.secondary-btn:hover {
  background-color: #b8c480;
  border: #b8c480 2px solid;
  color: #3c1b43;
}

@keyframes vibrate {
  0% { transform: translate(1px, 1px); }
  25% { transform: translate(-1px, -1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, 1px); }
  100% { transform: translate(0, 0); }
}

.vibrate {
  animation: vibrate 0.1s linear infinite;
}